.appointment-form .nice-select::after {
  right: auto;
  left: 23px;
}
.odometer.odometer-auto-theme,.odometer.odometer-theme-default{direction:ltr;}

.widget-area .tagcloud a {
  margin-right: 0;
  margin-left: 4px;
}





.top-header .top-left {
	padding-right: 0;
	text-align: right
}
.top-header .top-left li {
	margin-left: 20px;
	margin-right: 0
}
.top-header .top-left li:last-child {
	margin-left: 0
}
.top-header .top-right {
	padding-right: 0;
	text-align: left
}
.main-navbar .navbar .navbar-nav .nav-item:first-child {
	margin-right: 0;
	margin-left: 15px
}
.main-navbar .navbar .navbar-nav .nav-item:last-child {
	margin-left: 0;
	margin-right: 15px
}
.navbar-brand {
	margin-right: 0
}
.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu {
	right: 0;
	left: auto;
	text-align: right
}
.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
	right: -250px;
	left: auto
}
.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a i {
	left: 15px;
	right: auto
}
.main-navbar .navbar .others-options .option-item .burger-menu {
	margin-left: 30px;
	margin-right: 0
}
.search-overlay.search-popup {
	left: 0;
	right: auto
}
.search-overlay.search-popup .search-form .search-input {
	padding-right: 10px;
	padding-left: 0
}
.search-overlay.search-popup .search-form .search-button {
	left: 0;
	right: auto
}
.sidebar-modal.active .sidebar-modal-inner {
	left: 0;
	right: auto
}
.sidebar-modal .sidebar-modal-inner {
	left: -100%;
	right: auto
}
.sidebar-modal::before {
	left: 0;
	right: auto
}
.sidebar-modal .sidebar-instagram-feed ul {
	padding-right: 0
}
.sidebar-modal .sidebar-contact-area .contact-info .contact-info-content .social {
	padding-right: 0
}
.sidebar-modal .sidebar-modal-inner .close-btn {
	left: 35px;
	right: auto
}
.about-content {
	padding-right: 20px;
	padding-left: 0
}
.about-content .about-list {
	padding-right: 0
}
.about-content .about-list li {
	padding-right: 35px;
	padding-left: 0
}
.about-content .about-list li i {
	right: 0;
	left: auto
}
.about-image img {
	border-left: 10px solid #0fe7f9;
	border-right: none;
	padding-right: 0;
	padding-left: 10px
}
.about-image img:nth-child(2) {
	left: -15px;
	right: auto
}
.single-services {
	padding: 30px 100px 30px 30px
}
.single-services .icon {
	right: 20px;
	left: auto
}
.projects-item .image .icon {
	left: 12px;
	right: auto
}
.why-choose-content .why-choose-text {
	padding-right: 55px;
	padding-left: 0
}
.why-choose-content .why-choose-text .icon {
	right: 0;
	left: auto
}
.single-team .image .social {
	padding-right: 0
}
.appointment-form .form-group i {
	left: 20px;
	right: auto
}
.appointment-form .nice-select .list .option {
	text-align: right
}
.blog-item .image .date {
	right: 0;
	left: auto
}
.single-footer-widget h3::before {
	right: 0;
	left: auto
}
.single-footer-widget .footer-contact-info {
	padding-right: 0
}
.single-footer-widget .footer-contact-info li {
	padding-right: 35px;
	padding-left: 0
}
.single-footer-widget .footer-contact-info li i {
	right: 0;
	left: auto
}
.single-footer-widget .quick-links {
	padding-right: 0
}
.pl-5, .px-5 {
	padding-right: 3rem!important;
	padding-left: 0!important
}
.single-footer-widget .social {
	padding-right: 0
}
.single-footer-widget .social li {
	margin-left: 10px;
	margin-right: 0
}
.single-footer-widget .social li:last-child {
	margin-left: 0
}
.go-top {
	left: 20px;
	right: auto
}
.banner-shape {
	left: 0;
	right: auto
}
.about-warp img:nth-child(2) {
	left: 15px;
	right: auto
}
.single-pricing-box .pricing-features {
	padding-right: 0
}
.single-pricing-box .pricing-features li i {
	margin-left: 5px;
	margin-right: 0
}
.newsletter-form button {
	left: 4px;
	right: auto
}
.newsletter-form .input-newsletter {
	padding-right: 25px;
	padding-left: 0
}
.banner-image {
	left: 0;
	right: auto
}
.main-banner-area.item-two .main-banner-content .banner-btn .default-btn-two {
	margin-right: 15px;
	margin-left: 0
}
.how-it-works-content .how-it-works-text {
	padding-right: 55px;
	padding-left: 0
}
.how-it-works-content .how-it-works-text .number {
	right: 0;
	left: auto
}
.how-it-works-content .how-it-works-text::before {
	right: 20px;
	left: auto
}
.main-banner-item .container-fluid {

}
.main-banner-item .main-banner-content {
	margin-right: auto;
	margin-left: 0
}
.single-team-box .image .social {
	padding-right: 0
}
.single-feedback-item .client-info {
	padding-right: 58px;
	padding-left: 0;
	margin-right: 26px;
	margin-left: 0
}
.single-feedback-item .client-info img {
	right: 0;
	left: auto
}
.single-feedback-item .testimonial-desc::before {
	right: 35px;
	left: auto
}
.page-title-content ul {
	padding-right: 0
}
.page-title-content ul li::before {
	left: -15px;
	right: auto
}
.faq-accordion-content .accordion {
	padding-right: 0
}
.faq-accordion-content .accordion .accordion-title {
	padding: 18px 55px 18px 20px
}
.faq-accordion-content .accordion .accordion-title i {
	right: 0;
	left: auto
}
.list-unstyled {
	padding-right: 0
}
#contactForm .form-group .form-control {
	padding: 0 15px 0 0
}
#contactForm .form-group textarea.form-control {
	height: auto;
	padding: 15px 15px 0 0
}
.text-right {
	text-align: left!important
}
.form-check {
	padding-right: 1.25rem;
	padding-left: 0
}
.form-check-input {
	margin-right: -1.25rem;
	margin-left: 0
}
.projects-item .content::before {
	right: 0;
	left: auto
}
.widget-area .widget_search form button {
	left: 0;
	right: auto
}
.widget-area .widget .widget-title::before {
	right: 0;
	left: auto
}
.widget-area .widget_projects_info ul {
	padding-right: 0
}
.widget-area .widget_categories ul {
	padding-right: 0
}
.widget-area .widget_categories ul li {
	padding-right: 14px;
	padding-left: 0
}
.widget-area .widget_categories ul li::before {
	right: 0;
	left: auto
}
.projects-details-desc .features-list {
	padding-right: 0
}
.projects-details-desc .features-list li {
	padding-right: 25px;
	padding-left: 0
}
.projects-details-desc .features-list li i {
	right: 0;
	left: auto
}
.widget-area .widget_services_list ul {
	padding-right: 0
}
.widget-area .widget_services_list ul li a i {
	left: 20px;
	right: auto
}
.widget-area .widget_services_list ul li a:hover i {
	left: 15px;
	right: auto
}
.widget-area .widget_download_list ul {
	padding-right: 0
}
.widget-area .widget_download_list ul li a i {
	margin-left: 5px;
	margin-right: 0
}
.services-details-desc .features-list {
	padding-right: 0
}
.services-details-desc .features-list li {
	padding-right: 25px;
	padding-left: 0
}
.services-details-desc .features-list li i {
	right: 0;
	left: auto
}
.services-details-desc .services-details-faq .accordion {
	padding-right: 0
}
.services-details-desc .services-details-faq .accordion .accordion-title {
	padding: 18px 55px 18px 20px
}
.services-details-desc .services-details-faq .accordion .accordion-title i {
	right: 0;
	left: auto
}
.widget-area .widget_archive ul {
	padding-right: 0
}
.widget-area .widget_archive ul li {
	padding-right: 14px;
	padding-left: 0
}
.widget-area .widget_archive ul li::before {
	right: 0;
	left: auto
}
.widget-area .widget_lebo_posts_thumb .item .thumb {
	float: right;
	margin-left: 15px;
	margin-right: 0
}
.blog-details-desc .article-content .entry-meta ul {
	padding-right: 0
}
.blog-details-desc .article-content .entry-meta ul li {
	margin-left: 20px;
	margin-right: 0
}
.blog-details-desc .article-content .entry-meta ul li:last-child {
	margin-left: 0
}
.blog-details-desc .article-content .entry-meta ul li::before {
	left: -15px;
	right: auto
}
blockquote::after, .blockquote::after {
	right: 0;
	left: auto
}
.blog-details-desc .article-content .wp-block-gallery.columns-3 {
	padding-right: 0
}
.blog-details-desc .article-content .features-list {
	padding-right: 0
}
.blog-details-desc .article-content .features-list li {
	padding-right: 34px;
	padding-left: 0
}
.blog-details-desc .article-content .features-list li i {
	right: 0;
	left: auto
}
.blog-details-desc .article-footer .article-tags span {
	margin-left: 5px;
	margin-right: 0
}
.blog-details-desc .article-footer .article-share .social {
	padding-right: 0;
	text-align: left
}
.post-navigation .navigation-links .nav-previous a i {
	margin-left: 2px;
	margin-right: 0
}
.post-navigation .navigation-links .nav-next {
	text-align: left
}
.post-navigation .navigation-links .nav-next a i {
	margin-right: 2px;
	margin-left: 0
}
.blog-details-desc .article-footer .article-share .social li span {
	margin-left: 2px;
	margin-right: 0
}
.comments-area .comment-body {
	padding-right: 115px;
	padding-left: 0
}
.comments-area .comment-author .avatar {
	right: -115px;
	left: auto
}
.comments-area .children {
	margin-right: 30px;
	margin-left: 0
}
.comments-area .comment-respond .comment-form-cookies-consent {
	padding-right: 20px;
	padding-left: 0
}
.comments-area .comment-respond .comment-form-cookies-consent input {
	right: 0;
	left: auto
}
.form-check .form-check-input {
	float: right;
	margin-left: 0
}
.login-form .forgot-password {

}
@media only screen and (max-width:767px) {
	.top-header .top-right {
		text-align: center
	}
	.top-header .top-left {
		text-align: center
	}
	.mean-container a.meanmenu-reveal {
		left: 0!important;
		right: auto!important
	}
	.mean-container .mean-nav ul li a.mean-expand {
		width: 85%
	}
	.others-option-for-responsive .dot-menu {
		left: 60px;
		right: auto
	}
	.others-option-for-responsive .container .container {
		left: 10px;
		right: auto
	}
	.others-option-for-responsive .option-inner .others-options .option-item .burger-menu {
		margin-left: 30px;
		margin-right: 0
	}
	.about-image img:nth-child(2) {
		left: 0
	}
	.about-content {
		padding-right: 0
	}
	.pl-5, .px-5 {
		padding-right: 0!important
	}
	.comments-area .comment-body {
		padding-right: 60px
	}
	.comments-area .comment-author .avatar {
		right: -65px
	}
	.comments-area .children {
		margin-right: 0
	}
	.main-banner-item .container-fluid {
		padding-left: 15px;
		padding-right: 15px
	}
}
@media only screen and (min-width:576px) and (max-width:767px) {}
@media only screen and (max-width:991px) and (min-width:768px) {
	.top-header .top-right {
		text-align: center
	}
	.top-header .top-left {
		text-align: center
	}
	.mean-container a.meanmenu-reveal {
		left: 0!important;
		right: auto!important
	}
	.mean-container .mean-nav ul li a.mean-expand {
		width: 85%
	}
	.others-option-for-responsive .dot-menu {
		left: 60px;
		right: auto
	}
	.others-option-for-responsive .container .container {
		left: 10px;
		right: auto
	}
	.others-option-for-responsive .option-inner .others-options .option-item .burger-menu {
		margin-left: 30px;
		margin-right: 0
	}
	.about-image img:nth-child(2) {
		left: 0
	}
	.about-content {
		padding-right: 0
	}
	.pl-5, .px-5 {
		padding-right: 0!important
	}
	.main-banner-item .container-fluid {
		padding-left: 15px;
		padding-right: 15px
	}
}
@media only screen and (max-width:1199px) and (min-width:992px) {
	.main-banner-item .container-fluid {
		padding-left: 15px;
		padding-right: 15px
	}
}
@media only screen and (max-width:991px) {}